bazarr/**
duckdns/**
heimdall/**
jellyfin/**
jellyseerr/**
lidarr/**
mongo/**
n8n/**
nginx/**
pihole/**
plex/**
portainer/**
prowlarr/**
qbittorrent/**
radarr/**
sonarr/**
syncthing/**
traefik/**
wireguard/**
immich/**
maintainerr/**
alternatrr/**
kavita/**
dispatcharr/**
grafana/**
homepage/**
prometheus/**
.env
